<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Widok z obrazkami i guzikiem</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .container {
            display: flex;
            flex-direction: row;
            justify-content: center; 
            align-items: flex-start; 
            gap: 20px; 
        }

        .image-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

            .image-container img {
                width: auto;
                height: 300px; 
                object-fit: cover; 
            }

            .image-container .btn {
                margin-top: 10px;
                width: 100%; 
            }

        .btn-dark {
            padding: 20px 40px;
            font-size: 20px; 
            cursor: pointer;
            background-color: black;
            color: white;
            border: none;
            border-radius: 5px;
            transition: background-color 0.3s;
            text-align: center; 
        }

            .btn-dark:hover {
                background-color: #b9273d;
            }

        .logo-img {
            width: auto;
            height: 100px; 
            object-fit: cover; 
        }
    </style>
</head>
<body>
    <img src="~/img/NX-Polska.png" alt="Logo" class="logo-img" />
    <br />
    <br />
    <br />
    <br />
      @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success">
                @TempData["SuccessMessage"]
            </div>
        }
   <div class="container">
    <div class="image-container">
            <img src="~/img/Header_Expertensysteme-9701a543.jpg" alt="Obrazek 2">
        <a href="@Url.Action("Index", "Analizator")" class="btn btn-dark mb-3">Lista podłączeń analizatorów</a>
    </div>
    <div class="image-container">
            <img src="~/img/Heim_Dienstplan-466d16ef.jpg" alt="Obrazek 1">
        <a href="@Url.Action("Index", "Hl7")" class="btn btn-dark gap-2">Lista podłączeń z Hl7</a>
    </div>
</div>
</body>
</html>




